<section class="layout">
  <div class="sidebar">
    <button nbButton class="square-icon-button-padding" style="margin-top: 30px" routerLink="/home" status="primary">
      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
    </button>

    <h4 style="margin-top: 10px">{{'PAGES.NEW_PIE_WIZARD.NEW_PIE_MENU' | translate}}</h4>
    <label [class]="currentPage === 0 ? 'active' : 'inactive'">{{ 'PAGES.NEW_PIE_WIZARD.NAME_YOUR_PIE_MENU' | translate}}</label>
    <label [class]="currentPage === 1 ? 'active' : 'inactive'">{{ 'PAGES.NEW_PIE_WIZARD.ASSIGN_A_HOTKEY' | translate}}</label>
    <label [class]="currentPage === 2 ? 'active' : 'inactive'">{{ 'PAGES.NEW_PIE_WIZARD.CHOOSE_SELECTION_MODE' | translate}}</label>
    <label [class]="currentPage === 3 ? 'active' : 'inactive'">{{ 'PAGES.NEW_PIE_WIZARD.CUSTOMIZATION' | translate}}</label>
  </div>
  <div class="body">
    <app-page-pie-menu-name [ngStyle]="{'display': currentPage === 0 ? 'unset' : 'none'}" (next)="nextPage($event, 'pieName')"/>
    <app-page-assign-hot-key  [ngStyle]="{'display': currentPage === 1 ? 'unset' : 'none'}" (next)="nextPage($event, 'hotkey')" (prev)="prevPage()"/>
    <app-page-selection-mode [ngStyle]="{'display': currentPage === 2 ? 'unset' : 'none'}" (next)="nextPage($event, 'activationMode')" (prev)="prevPage()"/>
    <app-page-style-selection [ngStyle]="{'display': currentPage === 3 ? 'unset' : 'none'}" (finish)="finishWizard()" (prev)="prevPage()"/>
  </div>

  <a #finish routerLink="/home" hidden></a>
</section>
