.layout {
  width: 100%;
  flex-grow: 1;
  min-height: 0;
  padding: 1em 2em 1em 2em;
  display: flex;
  gap: 16px;
}

.growM {
  width: 26em;
  min-width: 26em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.growR {
  width: 20vw;
}

.growL {
  width: 40vw;
  flex-grow: 3;
  border-left: 2px solid var(--color-basic-1000);
  border-right: 2px solid var(--color-basic-1000);
}

li {
  margin-left: 1em !important;
  margin-right: 1em !important;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.tab {
  margin: 0 !important;
  border-radius: 0.5em 0.5em 0 0 !important;
  background-color: var(--actions-background-color) !important;
  border: solid 2px var(--accordion-header-border-color) !important;
  border-bottom: none;
  color: var(--accordion-header-disabled-text-color) !important;
}
