<div
  style="
    z-index: 999;
    padding: 5px;
    width: 100%;
    height: var(--title-bar-height);
    background-color: var(--color-basic-900);
    display: flex;
    align-items: center;
    border: 0 solid black;
    border-bottom-width: 1px;
    justify-content: space-between;
    align-content: center">

  <button nbButton size="small" status="success" routerLink="/home">
    <nb-icon icon="arrow-ios-back-outline"/>
  </button>

  <div
    style="flex-grow: 1; -webkit-app-region: drag; height: 100%; display: flex; flex-direction: row; flex-wrap: nowrap; align-content: center;justify-content: center; align-items: flex-end;">
    <nb-tag-list>
      <nb-tag *ngFor="let pieMenuState of pieMenuStates" [text]="pieMenuState.pieMenu.name"
              [removable]="pieMenuStates.length > 1"></nb-tag>
    </nb-tag-list>
  </div>
  <button nbButton size="small" status="primary">{{ "PAGES.EDITOR.SAVE" | translate }}</button>

</div>

<app-pie-menu-editor-work-area *ngIf="pieMenuStateLoaded | async"
                               [pieMenuState]="pieMenuStates[activePieMenuStateId]"
                               style="height: 100vh;
                               display: flex;
                               padding-bottom: calc(var(--title-bar-height) * 2);
                               flex-direction: column;"/>

