<div
    style="
    z-index: 999;
    padding: 5px;
    width: 100%;
    height: var(--title-bar-height);
    background-color: var(--color-basic-900);
    display: flex;
    align-items: center;
    border: 0 solid black;
    border-bottom-width: 1px;
    justify-content: space-between;
    align-content: center">

    <button nbButton size="small" status="success" routerLink="/home"><nb-icon icon="arrow-ios-back-outline"/></button>

    <div style="flex-grow: 1; -webkit-app-region: drag; height: 100%"></div>
    <button nbButton size="small" status="primary">{{ "PAGES.EDITOR.SAVE" | translate }}</button>

</div>

<div style="height: 100%; display: flex;padding-bottom: var(--title-bar-height);flex-direction: column;">
  <section class="layout">
    <div class="grow1">
      <label style="margin: 0; color: var(--button-ghost-basic-text-color);">{{"PAGES.EDITOR.TREE_TITLE" | translate}}</label>
    </div>
    <div class="grow3">
      <label style="margin: 0; color: var(--button-ghost-basic-text-color);">{{"PAGES.EDITOR.PREVIEW" | translate}}</label>
    </div>
    <div class="grow1">
      <label style="margin: 0; color: var(--button-ghost-basic-text-color);">{{"PAGES.EDITOR.PROP" | translate}}</label>
      <app-preferences-editor />
    </div>
  </section>
  <div style="padding: 1em 2em 1em 2em;">
    <div style="padding-bottom: 0.5em">
      {{ "PAGES.EDITOR.ACTIONS" | translate }}
    </div>
    <div style="height: 95%; display: flex; flex-direction: row; flex-wrap: nowrap; align-content: flex-start; justify-content: flex-start; align-items: center; overflow-x: scroll;">
      <section *ngFor="let action of actions" style="height: 100%; display: flex; flex-direction: row; flex-wrap: nowrap; align-content: flex-start; justify-content: flex-start; align-items: center; ">
        <app-action [action]="action" style="height: 100%" ></app-action>
        <nb-icon style="min-width: 64px" icon="arrow-forward-outline"></nb-icon>
      </section>
      <button nbButton ghost style="height: 64px; width: 64px; border: solid;">
        <nb-icon icon="plus-outline" style="min-width: 32px; height: 32px"></nb-icon>
      </button>
    </div>
  </div>
</div>

