<table style="width: 100%">
  <tr style="height: 0">
    <th style="width: 5%"></th>
    <th style="width: 30%"></th>
    <th style="width: 12%"></th>
    <th style="width: 35%"></th>
    <th style=""></th>
  </tr>
  <tbody>
  <tr>
    <td>
      <button nbButton ghost size="tiny" (click)="duplicatePieMenu()"
              [nbTooltip]="nProfilesConnected === 1 ? 'This pie menu is used only in this profile.' : 'This pie menu is used in multiple profiles, click to detach the pie menu.'" >
        {{nProfilesConnected === 1 ? 'U' : nProfilesConnected}}
      </button>
    </td>
    <td>
      <input #nameInput nbInput value="{{pieMenu.name}}" (keyup.enter)="updatePieMenu()" (focusout)="updatePieMenu()"
             style="background: transparent; width: 100%; padding: 0.4em 0.6em; font-weight: normal; color: var(--accordion-header-disabled-text-color);"/>
    </td>
    <td
      style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap; align-content: center; justify-content: center; align-items: center;">
      <ngx-colors ngx-colors-trigger [(ngModel)]="pieMenu.selectionColor" (input)="updatePieMenu()"></ngx-colors>

    </td>
    <td>
      <app-shortcut-input #shortcutInput [hotkey]="pieMenu.hotkey" (hotkeyChange)="shortcutInputChanged($event)"></app-shortcut-input>
    </td>
    <td style="text-align: center;">
      <button nbButton ghost [routerLink]="['/pie-menu-editor', pieMenu.id]" status="primary"
              style="
                    border: 1px solid var(--button-filled-basic-disabled-background-color);
                    padding: 10px">
        <nb-icon icon="edit-2-outline"/>
      </button>
      <button [nbPopover]="deleteConfirm" [nbPopoverPlacement]="nbPosition.BOTTOM" ghost nbButton status="danger"
              style="
                    border: 1px solid var(--button-filled-basic-disabled-background-color);
                    padding: 10px">
        <nb-icon icon="trash-outline"/>
      </button>
    </td>
  </tr>


  </tbody>


</table>


<ng-template #deleteConfirm>
  <div style="display: flex; flex-direction: column; padding: 1em; align-items: center; width: 25vw;">
    <span style="text-align: center">{{ 'PAGES.HOME.DELETE_CONFIRM' | translate }}</span>
    <button nbButton size="small" style="margin-top: 1em" status="danger"
            (click)="pieMenuChange.emit({remove:pieMenu.id, add:undefined})">{{ 'GENERAL.YES' | translate }}</button>
  </div>
</ng-template>

<ng-template #hotkeyAcquisitionDialog let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{ 'DIALOG.HOTKEY_INUSE' | translate }}</nb-card-header>
    <nb-card-body>{{ 'DIALOG.HOTKEY_INUSE_DESC' | translate }}</nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary" (click)="acquireHotkey(false); ref.close()">{{ 'GENERAL.CANCEL' | translate }}</button>
      <button nbButton (click)="acquireHotkey(); ref.close()">{{ 'GENERAL.YES' | translate}}</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
