<section class="layout" [style.background-color]="'var(--background-color-solid)'">
  <div class="growL"
       style=" background: var(--accordion-header-disabled-text-color); border-radius: 1em; padding: 0.5em 1em;">
    <label
      style="margin: 0; color: var(--button-ghost-basic-text-color);">{{"PAGES.EDITOR.PREVIEW" | translate}}</label>
  </div>

  <div class="growM">
    <nb-tabset fullWidth style="display: contents">
      <nb-tab tabTitle="Settings" style="width: 100%">
        <app-settings-tab/>

      </nb-tab>
      <nb-tab tabTitle="Actions" style="margin-top: 1em;">
        <div style="padding-right: 5px; display: flex; flex-direction: column; align-items: center;">

          <div *ngFor="let action of pieMenuState.pieItems.get(this.selectedPieItemId ?? -1)?.actions; let i = index"
               style="display: flex; flex-direction: column; flex-wrap: nowrap; align-content: flex-start; justify-content: flex-start; align-items: center; ">
            <div style="display: flex">
              <app-action-card [action]="action" style="height: fit-content"></app-action-card>
              <div style="display: flex; flex-direction: column; margin-left: 0.5em;">
                <button
                  (click)="moveUp(i)"
                  *ngIf="i !== 0" nbButton fullWidth ghost size="tiny" style="margin-bottom: 2px;">
                  <nb-icon icon="arrow-upward-outline"/>
                </button>
                <button
                  (click)="moveDown(i)"
                  *ngIf="i !== pieMenuState.getPieItemActions(this.selectedPieItemId ?? -1).length - 1" nbButton fullWidth ghost size="tiny"
                  style="margin-bottom: 2px;">
                  <nb-icon icon="arrow-downward-outline"/>
                </button>
                <button nbButton ghost size="tiny" (click)="deleteAction(i)">
                  <nb-icon icon="trash-2-outline"></nb-icon>
                </button>
              </div>
            </div>

            <nb-icon style="min-height: 32px" icon="arrow-downward-outline"></nb-icon>
          </div>
          <button nbButton ghost style="height: 64px; width: 64px; border: solid;margin-bottom: 3em;"
                  (click)="addAction()">
            <nb-icon icon="plus-outline" style="min-width: 32px; height: 32px"></nb-icon>
          </button>
        </div>
      </nb-tab>
    </nb-tabset>
  </div>


</section>
