<table style="width: 100%">
  <tr>
    <th style="width: 5%"></th>
    <th style="width: 30%">Name</th>
    <th style="text-align: center; width: 12%">Color</th>
    <th style="width: 35%">Shortcut</th>
    <th style="text-align: center">Actions</th>
  </tr>
</table>

<app-pie-menu-list-row *ngFor="let pieMenu of pieMenus" [pieMenu]="pieMenu"
                       (pieMenuChange)="pieMenuChange.emit($event)"></app-pie-menu-list-row>

<div style="text-align: center;"
     [ngStyle]="{'display': pieMenus.length === 0 ? 'unset' : 'none'}">
  <div style="height: 2em;"></div>
  {{'PAGES.HOME.TABLE_EMPTY' | translate}}
  <div style="height: 2em;"></div>
</div>

