<table #pieMenuList style="width: 100%">
    <tr>
        <th style="width: 40%">Name</th>
        <th style="width: 20%">Color</th>
        <th style="width: 20%">Shortcut</th>
        <th style="text-align: center;">Actions</th>
    </tr>
    <tbody>
    <tr *ngFor="let pieMenu of pieMenus; let i = index">
        <td>
            <label>{{pieMenu.name}}</label>
        </td>
        <td>
            <ngx-colors ngx-colors-trigger [(ngModel)]="pieMenu.selectionColor"></ngx-colors>

        </td>
        <td>
            <label>{{pieMenu.hotkey}}</label>
        </td>
        <td style="text-align: center">
            <button nbButton ghost routerLink="/pie-menu-editor" status="primary"
                    style="
                    border: 1px solid var(--button-filled-basic-disabled-background-color);
                    padding: 10px">
                <nb-icon icon="edit-2-outline"/>
            </button>
            <button [nbPopover]="deleteConfirm" [nbPopoverPlacement]="NbPosition.BOTTOM" ghost nbButton status="danger"
                    style="
                    border: 1px solid var(--button-filled-basic-disabled-background-color);
                    padding: 10px"
                    (click)="toBeDeletedPieId = pieMenu.id">
                <nb-icon icon="trash-outline"/>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<p style="text-align: center;"
   [ngStyle]="{'display': pieMenus.length === 0 ? 'show' : 'none'}">{{'PAGES.HOME.TABLE_EMPTY' | translate}}</p>

<ng-template #deleteConfirm>
    <div style="display: flex; flex-direction: column; padding: 1em; align-items: center; width: 25vw;">
        <span style="text-align: center">{{ 'PAGES.HOME.DELETE_CONFIRM' | translate }}</span>
        <button nbButton size="small" style="margin-top: 1em" status="danger"
                (click)="deletePieMenu.emit(toBeDeletedPieId)">{{ 'GLOBAL.YES' | translate }}</button>
    </div>
</ng-template>
