/* Disable scollbar */

::-webkit-scrollbar {
  width: 4px;
  position: fixed;
  z-index: 2;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: var(--bs-body-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bs-secondary);
  border-radius: 2.5px;
}

