:not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input, button, textarea, :focus {
  outline: none;
}

body {
  overflow-x: hidden;
}

a {
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
}

.div-hover-green:hover {
  border: solid var(--bs-success);
}

.div-hover-green-8:hover {
  border: var(--bs-success);
}

.div-hover-green-8 {
  border: var(--bs-gray-800);
}

.icon-btn-div:hover {
  background: var(--bs-gray-700);
}

#more-settings-accordion {
  color: var(--bs-gray-600);
}

#more-settings-accordion:hover {
  color: var(--bs-white);
}

