.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 .25rem rgba(49,132,253,.5);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--bs-primary-alt);
  border-color: var(--bs-primary);
}

.btn:hover {
  /*background-color: rgb(from var(--bs-primary) h s calc(l + 5%));*/
}

.btn-primary {
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-check:active + .btn-secondary, .btn-check:checked + .btn-secondary, .btn-secondary.active, .btn-secondary:active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

.btn-check:active + .btn-secondary:focus, .btn-check:checked + .btn-secondary:focus, .btn-secondary.active:focus, .btn-secondary:active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .25rem rgba(130,138,145,.5);
}

.header-left-btn {
  width: 200px;
  height: 100%;
  padding: 0px 30px 0px 0px;
  color: var(--bs-body-color-alt);
  border-right: 1px solid var(--bs-body-bg);
}

.header-left-btn:hover {
  background-color: var(--bs-body-bg3);
  color: var(--bs-body-color);
}

.header-left-btn h5 {
  margin: 0px 0px 0px 10px;
}

.header-right-btn {
  width: 200px;
  height: 100%;
  padding: 0px 0px 0px 30px;
  color: var(--bs-body-color-alt);
  border-right: 1px solid var(--bs-body-bg);
}

.header-right-btn:hover {
  background-color: var(--bs-body-bg3);
  color: var(--bs-body-color);
}

.main-run-btn h5 {
  margin: 0px 0px 0px 10px;
}

.main-run-btn {
  width: 200px;
  height: 100%;
  padding: 0px 0px 0px 30px;
  border-right: 1px solid var(--bs-body-bg);
  background: linear-gradient(270deg, var(--bs-primary), var(--bs-body-bg));
  transition: background 0.5s;
}

.main-run-btn:hover {
  background: linear-gradient(270deg, var(--bs-primary), var(--bs-primary));
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
  background-color: var(--bs-body-bg2);
  border-color: var(--bs-body-bg2);
  color: var(--bs-secondary-alt);
  pointer-events: none;
  opacity: .65;
}

