.context-menu {
  position: absolute;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid var(--bs-body-bg3);
  background-color: var(--bs-body-bg2);
  color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.context-menu-option {
  padding: 3px;
}

.context-menu-option:hover:not(.disabled) {
  background-color: #1e1e1e;
}

.context-menu-option.disabled {
  color: #777;
}

