input[type="text"] {
  background-color: var(--bs-body-bg2);
  border-color: var(--bs-body-bg2);
  /*border-color: var(--bs-body-bg3);*/
  border-style: solid;
  border-width: 2px;
  color: var(--bs-body-color);
}

/* Checkboxes */

input[type="checkbox"]:hover {
  background: white;
}

input[type="checkbox"]:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

input[type="checkbox"]:checked + input[type="checkbox"]:hover {
  background-color: var(--bs-primary-alt);
  border-color: var(--bs-primary-alt);
}

