.center-labeled-input {
  width: 600px;
  min-width: 375px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.center-labeled-input h5, h6 {
  margin: 0px 10px 0px 0px;
  width: 170px;
  text-align: right;
}

