.sidebar-column {
  transition: width 0.1s;
  background-color: var(--bs-body-bg2);
}

.sidebar-header-div {
  float: right;
  display: flex;
  align-items: center;
  justify-content: right;
  overflow: hidden;
}

.minimized-sidebar-div {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minimized-sidebar-div:hover {
  background-color: var(--bs-body-bg3);
}

.sidebar-profile-div {
  display: flex;
  float: left;
  align-items: center;
  height: 50px;
}

.sidebar-profile-div:hover {
  background-color: var(--bs-body-bg3);
}

.minimized-sidebar-delete-div {
  height: 50px;
  width: 50px;
  display: none;
  justify-content: center;
  align-items: center;
}

.sidebar-profile-div:hover .minimized-sidebar-delete-div {
  display: flex;
  color: var(--bs-secondary);
}

.sidebar-profile-div:hover .minimized-sidebar-delete-div:hover {
  color: #ffffff;
}

.sidebar-profile-div {
  display: flex;
  float: left;
  align-items: center;
  width: 300px;
  height: 50px;
}

.add-new-profile-div {
  /*display: flex;*/
  /*float: left;*/
  /*align-items: center;*/
  width: 300px;
  height: 50px;
}

.add-new-profile-div:hover .add-new-profile-div-btn {
  background-color: var(--bs-body-bg2);
}

