:root {
  --bs-primary: hsl(178, 62%, 37%);
  --bs-primary-rgb: 36, 153, 149;
  --bs-primary-alt: hsl(178, 62%, 32%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bs-secondary: #949494;
    --bs-secondary-alt: #949494;
    --bs-body-color: #f7f7f7;
    --bs-body-color-alt: #d1d1d1;
    --bs-body-bg: #272727;
    --bs-body-bg2: #363636;
    --bs-body-bg3: #464646;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bs-secondary: #949494;
    --bs-secondary-alt: #949494;
  }
}

/* disable selection */

:not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input, button, textarea, :focus {
  outline: none;
}

/* disable image and anchor dragging */

a:not([draggable=true]), img:not([draggable=true]) {
  -webkit-user-drag: none;
  user-drag: none;
}

a[href^="http://"], a[href^="https://"], a[href^="ftp://"] {
  -webkit-user-drag: auto;
  user-drag: auto;
}

.hidden-bootstrap-page-tabs {
  height: 100%;
}

.hidden-bootstrap-page-tabs .nav-tabs {
  /*display: none;*/
}

.hidden-bootstrap-page-tabs .tab-content {
  height: 100%;
}

.hidden-bootstrap-page-tabs .tab-pane {
  height: 100%;
}

body {
  font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  overflow-x: hidden;
}

.header-bar {
  height: 80px;
  background: var(--bs-body-bg2);
  width: 100%;
}

.header-bar h2 {
  margin: 0px;
}

.row {
  --bs-gutter-x: 0px;
  --bs-gutter-y: 0px;
}

.range-text-input {
  display: inline;
}

.range-text-input input[type=number] {
  width: 60px;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  color: var(--bs-secondary);
  background-color: var(--bs-body-bg2);
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

a:hover {
  background-color: var(--bs-body-bg3);
}

.nav-link:focus, .nav-link:hover {
  color: #FFFFFF;
  background-color: var(--bs-body-bg3);
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  /*border-color: #e9ecef #e9ecef #dee2e6;*/
  isolation: isolate;
  background-color: var(--bs-body-bg3);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #FFFFFF;
  background-color: transparent;
  /*border-color: #dee2e6 #dee2e6 #fff;*/
}

.nav-tabs .nav-link {
  /*margin-bottom: -1px;*/
  background-color: var(--bs-body-bg2);
  border: 0px solid transparent;
  /*border-top-left-radius: .25rem;*/
  /*border-top-right-radius: .25rem;*/
}

.nav-tabs {
  border-bottom: 0px solid #dee2e6;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
}

