.interactable-table-row :hover {
  background: var(--bs-body-bg2);
}

.interactable-table-row .fa-remove {
  display: none;
}

.interactable-table-row :hover .fa-remove {
  display: block;
}

.interactable-table-row :hover > .primary-cell-btn {
  background-color: var(--bs-primary);
}

.interactable-table-row .primary-cell-btn :hover {
  background: var(--bs-primary-alt);
}

.table {
  border-color: var(--bs-body-bg3);
}

