<div
    style="display: flex; align-content: center; align-items: center; justify-content: flex-start; flex-wrap: nowrap; flex-direction: row; padding: 0.5em; border-radius: 5px; margin-bottom: 5px;"
    [style.background-color]="profile.id === selectedProfileId ? 'var(--color-basic-1000)' : 'transparent'"
>
    <img
        style="cursor: pointer;"
        [src]="'data:image/png;base64, ' + this.profile.iconBase64"
        width="32px"
        height="32px"
        (click)="selectProfile()"
        alt="AHP icon"/>

    <nb-form-field style="padding-left: 15px; width: 100%">
        <input nbInput
               fullWidth
               #profNameInput
               (keyup.enter)="completeEditing()"
               (focusout)="completeEditing()"
               [value]="profile.name"
               [disabled]="inputDisabled"/>
        <button
            nbButton
            nbSuffix
            ghost
            style="height: 100%; padding: 11px; margin-right: 4px;"
            (click)="startEditing()">
            <nb-icon [icon]="inputDisabled ? 'edit-2-outline' : 'checkmark-outline'"></nb-icon>
        </button>
    </nb-form-field>


</div>


