<div style="display: flex;align-content: center;align-items: center;justify-content: flex-start;flex-wrap: nowrap;flex-direction: row;">
  <img
    ngSrc="assets/icons/ahpIcon.png"
    width="42px"
    height="42px"
    alt="AHP icon" />

  <input nbInput
         fullWidth
         #profNameInput
         (keyup.enter)="completeEditing()"
         (focusout)="completeEditing()"
         [value]="profName"
         [disabled]="inputDisabled"
         style="margin-left: 1em; width: 70%" />

  <button
    nbButton
    style="margin-left: 25px;"
    (click)="startEditing()">
    <nb-icon icon="edit-2-outline"></nb-icon>
  </button>
</div>


