<div class="body center-horizontal">

  <div class="two-side">
    <div>
      <h4>{{ profile.name }}</h4>
    </div>
    <div>
      <button nbButton status="primary" style="align-self: center" [nbPopover]="addPieMenuPopover"
              [nbPopoverPlacement]="nbPosition.BOTTOM">
        <nb-icon icon="plus-outline"/>
        {{ 'PAGES.HOME.ADD_PIE_MENU' | translate }}
      </button>
      <button nbButton status="primary" (click)="profSettingsRevealed = !profSettingsRevealed">
        <nb-icon icon="settings-2-outline"/>
      </button>
    </div>
  </div>

  <div [style.display]="!profSettingsRevealed ? 'flex' : 'none'" class="center-horizontal">
    <app-pie-menu-list [pieMenuIds]="profile.pieMenus" (pieMenuChange)="onPieMenuChanged($event)"
                       style="max-height: 65vh; overflow-y: scroll;"/>

  </div>

  <div [style]="{'display': profSettingsRevealed ? 'unset' : 'none'}">
    <h5 style="margin: 0;">{{"PAGES.HOME.PROF_SETTINGS" | translate}}</h5>

    <div
      style="display: flex; flex-direction: row; align-content: center; justify-content: space-between; align-items: center;">
      <div>
        <p style="font-size: large; margin: 0.5em 0;">{{ "PAGES.HOME.enabled" | translate}}</p>
        <p>{{ "PAGES.HOME.enabled_DESC" | translate}}</p>
      </div>
      <nb-toggle [(checked)]="profile.enabled" (checkedChange)="updateProfile()"></nb-toggle>
    </div>

    <nb-card *ngIf="profile.id !== 1;" style="background-color: transparent; border: 2px solid var(--actions-disabled-text-color);">
      <nb-card-header style="padding: 10px 20px;">{{ "PAGES.PROFILE.SETTINGS.EXE_VER" | translate }}</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let exe of profile.exes; let i = index" [style.background]="i % 2 !== 0 ? 'var(--border-basic-color-2)' : 'var(--accordion-header-border-color)'"
                      style="padding: 5px 20px; display: flex; flex-direction: row; place-content: center; align-items: center; height: 100%; justify-content: space-between;">
          <div style="text-overflow: ellipsis; max-width: 90%; overflow: hidden">
            {{ exe }}
          </div>
          <button nbButton status="danger" size="tiny" (click)="removeExecutableVersion(exe)"><nb-icon icon="minus-outline"></nb-icon></button>
        </nb-list-item>

        <nb-list-item style="padding: 10px">
          <button nbButton size="tiny" fullWidth (click)="addMissingExeClicked()">{{ "PAGES.PROFILE.SETTINGS.ADD_MISSING_EXE" | translate }}</button>
        </nb-list-item>
      </nb-list>
    </nb-card>


  </div>

</div>

<ng-template #addPieMenuPopover>
  <div
    style="display: flex; flex-direction: column; flex-wrap: nowrap; align-content: center; justify-content: center; align-items: stretch; padding: 10px;">
    <button nbButton size="small" style="margin-bottom: 10px" (click)="newPieMenu()">
      <nb-icon icon="plus-outline"/>
      {{ 'PAGES.HOME.NEW_PIE_MENU' | translate }}
    </button>
    <button nbButton size="small" (click)="openPieMenuSelector(pieMenuSelectorDialog)">
      <nb-icon icon="download-outline"/>
      {{ 'PAGES.HOME.ADD_FROM_EXISTING' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #pieMenuSelectorDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Template Dialog</nb-card-header>
    <nb-card-body
      style="width: 50vw; display: flex; flex-wrap: wrap; flex-direction: row; align-content: flex-start; justify-content: flex-start; align-items: flex-start;">
      <button nbButton *ngFor="let pieMenu of data | async" size="small"
              (click)="addPieMenu(pieMenu.id); ref.close()"
              style="margin-right: 10px; margin-bottom: 10px">{{pieMenu.name}}</button>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">{{ "PAGES.PIE_MENU_SELECTOR.CANCEL" | translate }}</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
