<div class="body center-horizontal">

    <div class="two-side">
        <div>
            <h4>{{ profile.name }}</h4>
        </div>
        <div>
            <button nbButton status="primary" (click)="profSettingsRevealed = !profSettingsRevealed">
                <nb-icon icon="settings-2-outline"/>
            </button>
        </div>
    </div>

    <div [style]="{'display': !profSettingsRevealed ? 'flex' : 'none'}" class="center-horizontal">
        <app-pie-menu-list [pieMenuIds]="profile.pieMenus" (deletePieMenu)="deletePieMenu($event)"/>
        <button nbButton status="primary" style="align-self: center" (click)="addPieMenu()">
            <nb-icon icon="plus-outline"/>
            {{ 'PAGES.HOME.ADD_PIE_MENU' | translate }}
        </button>
    </div>

    <div [style]="{'display': profSettingsRevealed ? 'unset' : 'none'}">
        <h6 style="margin: 0;">{{"PAGES.HOME.PROF_SETTINGS" | translate}}</h6>

    </div>

</div>
