.two-side{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.center-horizontal {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-basic-900);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
