<div class="body center-horizontal">

    <div class="two-side">
        <div>
            <h4>{{ profile.name }}</h4>
        </div>
        <div>
            <button nbButton status="primary" style="align-self: center" (click)="addPieMenu()">
                <nb-icon icon="plus-outline"/>
                {{ 'PAGES.HOME.ADD_PIE_MENU' | translate }}
            </button>
            <button nbButton status="primary" (click)="profSettingsRevealed = !profSettingsRevealed">
                <nb-icon icon="settings-2-outline"/>
            </button>
        </div>
    </div>

    <div [style.display]="!profSettingsRevealed ? 'flex' : 'none'" class="center-horizontal">
<!--        <app-pie-menu-list [pieMenuIds]="profile.pieMenus" (pieMenuRemoved)="removePieMenuFromProf($event)" style="max-height: 65vh; overflow-y: scroll;"/>-->
        <app-pie-menu-list  (pieMenuRemoved)="removePieMenuFromProf($event)" style="max-height: 65vh; overflow-y: scroll;"/>

    </div>

    <div [style]="{'display': profSettingsRevealed ? 'unset' : 'none'}">
        <h5 style="margin: 0;">{{"PAGES.HOME.PROF_SETTINGS" | translate}}</h5>

        <div style="display: flex; flex-direction: row; align-content: center; justify-content: space-between; align-items: center;">
            <div>
                <p style="font-size: large; margin: 0.5em 0;">{{ "PAGES.HOME.enabled" | translate}}</p>
                <p>{{ "PAGES.HOME.enabled_DESC" | translate}}</p>
            </div>
            <nb-toggle [(checked)]="profile.enabled" (checkedChange)="updateProfile()"></nb-toggle>
        </div>
    </div>

</div>
