<table #pieMenuList style="width: 100%">
  <tr>
    <th style="width: 50%">Name</th>
    <th>Color</th>
    <th>Shortcut</th>
    <th style="text-align: center;">Actions</th>
  </tr>
  <tbody>
    <tr *ngFor="let pref of pieMenuPrefs; let i = index">
      <td>
        <label >{{pref.name}}</label>
      </td>
      <td>
        <label >{{pref.color}}</label>
      </td>
      <td>
        <label >{{pref.shortcut}}</label>
      </td>
      <td style="text-align: center">
        <button nbButton status="primary"><nb-icon icon="edit-2-outline"/></button>
        <button nbButton status="danger"><nb-icon icon="trash-outline"/></button>
      </td>
    </tr>
  </tbody>
</table>

<p style="text-align: center;" [ngStyle]="{'display': pieMenuPrefs.length === 0 ? 'show' : 'none'}">{{'PAGES.HOME.TABLE_EMPTY' | translate}}</p>
