<div
  style="
    position:fixed;
    z-index: 999;
    padding-left: 16px;
    width: 100%;
    height: var(--title-bar-height);
    -webkit-app-region:
    drag; background-color: var(--color-basic-900);
    display: flex;
    align-items: center;
    border: 0 solid black;
    border-bottom-width: 1px;
    align-content: center">
  <nb-icon icon="menu-outline" />
</div>

<nb-layout>
  <nb-layout-column style="padding: var(--title-bar-height) 0 0 0;">
    <router-outlet></router-outlet>

  </nb-layout-column>

</nb-layout>

