
<div
  *ngIf="!isPieMenu()"
  style="
    position:fixed;
    z-index: 999;
    padding: 0 160px 0 16px;
    width: 100%;
    height: var(--title-bar-height);
    background-color: var(--color-basic-900);
    display: flex;
    align-items: center;
    border: 0 solid black;
    border-bottom-width: 1px;
    justify-content: space-between;
    align-content: center">
  <img #icon ngSrc="assets/icons/favicon.ico" style="padding-right: 16px;" height="24px" width="auto" alt="favicon"/>

  <button
    [class]="activePage === 'settings' ? 'btn-active' : 'btn-normal'"
    [routerLink]="activePage === 'settings' ? '/home' : '/settings'"
    (click)="setActive('settings')"
    nbButton ghost size="small" >
    {{'GLOBAL.SETTINGS' | translate}}
  </button>
  <button
    style="margin-left: 0.5em"
    [nbPopover]="helpPopover"
    [nbPopoverPlacement]="NbPosition.BOTTOM"
    nbButton ghost size="small">
    {{'GLOBAL.HELP' | translate}}
  </button>

  <div style="flex-grow: 1; -webkit-app-region: drag; height: 100%"></div>
  <button nbButton size="small" [status]="serviceActive ? 'danger' : 'success'" (click)="toggleService()">
      <nb-icon [icon]="serviceActive ? 'stop-circle-outline' : 'play-circle-outline'"/>
  </button>

</div>
<nb-layout *ngIf="loaded">

  <nb-layout-column style="padding: 0 0 0 0;" [style.padding-top]="isPieMenu() ? 0 : 'var(--title-bar-height)'">
    <router-outlet></router-outlet>

  </nb-layout-column>

</nb-layout>

<ng-template #helpPopover>
  <div style="display: flex;flex-direction: column;">
    <button nbButton ghost size="small" style="margin: 5px" (click)="openInBrowser('github');">
      {{'PAGES.SETTINGS.VIEW_ON_GITHUB' | translate}}
    </button>
    <button nbButton ghost size="small" style="margin: 0 5px 5px 5px;" (click)="openInBrowser('paypal')">
      {{'PAGES.SETTINGS.DONATE_WITH_PAYPAL' | translate}}
    </button>
    <button nbButton ghost size="small" style="margin: 0 5px 5px 5px;" (click)="openInBrowser('bug')">
      {{'PAGES.SETTINGS.ABOUT_REPORT_BUG' | translate}}
    </button>
    <button nbButton ghost size="small" style="margin: 0 5px 5px 5px;" routerLink="/helpAndAbout">
      {{'PAGES.SETTINGS.ABOUT' | translate}}
    </button>
    <div width="100%" style="height: 2px; margin: 0 5px; background: var(--accordion-header-disabled-text-color);"></div>
    <button nbButton ghost size="small" style="margin: 5px; display: flex; flex-direction: row; align-content: center; justify-content: space-between; align-items: center;">
      <nb-icon icon="refresh-outline" /> {{'PAGES.SETTINGS.VERSION' | translate}} : {{version}}
    </button>
  </div>

</ng-template>
