<div class="offset" >
  <section class="layout">

      <button class="btn-padding" nbButton status="success" (click)="checkUpdate()">{{updateBtnText | translate}}</button>
      <button class="btn-padding" nbButton (click)="openInBrowser('github')">{{"PAGES.SETTINGS.VIEW_ON_GITHUB" | translate}}</button>
      <button class="btn-padding" nbButton (click)="openInBrowser('paypal')">{{"PAGES.SETTINGS.DONATE_WITH_PAYPAL" | translate}}</button>
      <button class="btn-padding" nbButton (click)="openInBrowser('bug')">{{"PAGES.SETTINGS.ABOUT_REPORT_BUG" | translate}}</button>
      <p>{{"PAGES.SETTINGS.ABOUT_VERSION" | translate}} {{ 'beta' }}</p>

  </section>
</div>
