<div class="offset" >
  <section class="layout">

      <button class="btn-padding" nbButton status="success">{{"PAGES.SETTINGS.ABOUT_CHECK_FOR_UPDATES" | translate}}</button>
      <button class="btn-padding" nbButton>{{"PAGES.SETTINGS.VIEW_ON_GITHUB" | translate}}</button>
      <button class="btn-padding" nbButton>{{"PAGES.SETTINGS.DONATE_WITH_PAYPAL" | translate}}</button>
      <button class="btn-padding" nbButton>{{"PAGES.SETTINGS.ABOUT_REPORT_BUG" | translate}}</button>
      <p>{{"PAGES.SETTINGS.ABOUT_VERSION" | translate}} {{ 'beta' }}</p>

  </section>
</div>
