:host {

}

.layout {
  width: 100%;
  display: grid;
  grid:
    "sidebar body" 1fr
    / 30% 65%;
  gap: 25px;
}

.sidebar {
  grid-area: sidebar;
  padding: 25px;
  background-color: var(--color-basic-900);
}
.body {
  grid-area: body;
  height: fit-content;
}

.center-horizontal {
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;
}
