<div class="offset">
    <section class="layout">
        <div class="sidebar">
            <div style="display: flex; align-items: center; flex-direction: row;">
                <h4>{{ 'PAGES.HOME.SIDEBAR_TITLE' | translate }}</h4>
                <button [nbPopover]="addProfTemplate" [nbPopoverPlacement]="NbPosition.END_BOTTOM" nbButton
                        status="primary" style="align-self: center; margin-left: 1em">
                    <nb-icon icon="plus-outline"/>
                </button>
            </div>
            <app-profile-list-item #profileListItemComponent *ngFor="let profId of profIds; trackBy trackIds"
                                   [profId]="profId"/>
        </div>

        <app-profile-editor/>

    </section>
</div>

<ng-template #addProfTemplate>
    <div style="padding: 1em; display: flex; flex-direction: column; align-items: stretch;">
        <input #profInput nbInput placeholder="{{'PAGES.HOME.PROF_NAME_HINT' | translate}}" style="width: 18em">
        <div class="select-app-section">
            <button nbButton ghost style="border: 2px solid; width: 100%; height: 100%"
                    [style.display]="!selectingApp && selectedAppName === '' ? 'unset' : 'none'"
                    (click)="getActiveApp()">
                {{"PAGES.HOME.CLICK_TO_SELECT_APP" | translate}}
            </button>
            <div [style.display]="selectingApp ? 'unset' : 'none'" style="width: 100%; height: 100%">
                <p style="word-wrap: break-word; width: 18em">Open your application in {{remainingSec}} </p>
            </div>

            <div [style.display]="selectedAppName !== '' ? 'unset' : 'none'">
                icon and name
            </div>

        </div>
        <button nbButton status="primary" style="align-self: center; margin-top: 1em"
                [disabled]="selectedAppName === ''"
                (click)="createProfile()">{{"PAGES.HOME.CREATE_PROF" | translate}}</button>
    </div>
</ng-template>
