:host {

}

.layout {
  width: 100%;
  display: grid;
  grid:
    "sidebar body" 1fr
    / 30% 65%;
  gap: 25px;
}

.sidebar {
  grid-area: sidebar;
  padding: 25px;
  background-color: var(--color-basic-900);
}
.body {
  grid-area: body;
  height: fit-content;
}

.select-app-section {
  width: 100%;
  height: 20em;
  margin-top: 1em;
}
.two-side{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}


