<div class="offset" [style.background-color]="'var(--background-color-solid)'">
    <section class="layout">
        <div class="sidebar">
            <div style="display: flex; align-items: center; flex-direction: row;">
                <h4>{{ 'PAGES.HOME.SIDEBAR_TITLE' | translate }}</h4>

                <button nbButton [nbPopover]="addProfTemplate" [nbPopoverPlacement]="NbPosition.END_BOTTOM"
                        status="primary" style="align-self: center; margin-left: 1em">
                    <nb-icon icon="plus-outline" />
                </button>

            </div>
            <div style="max-height: 70vh; overflow-y: scroll; padding-right: 0.5em;">
                <app-profile-list-item #profileListItemComponent *ngFor="let prof of profiles;"
                                       [profile]="prof" (profileSelected)="updateSelectedProfile($event)"
                                       [selectedProfileId]="selectedProfId"
                                       (profileUpdated)="reloadProfEditor()"/>
            </div>

        </div>

        <app-profile-editor *ngIf="selectedProf" #profileEditorComponent [profile]="selectedProf"/>

    </section>
</div>

<ng-template #addProfTemplate>
    <div style="padding: 1em; display: flex; flex-direction: column; align-items: stretch;">

        {{ clearPopover()}}
        <input #profInput nbInput placeholder="{{'PAGES.HOME.PROF_NAME_HINT' | translate}}" style="width: 18em" >
        <div class="select-app-section">
            <button nbButton ghost style="border: 2px solid; width: 100%; height: 100%"
                    [style.display]="!selectingApp && activeWindow === undefined ? 'unset' : 'none'"
                    (click)="getActiveApp()">
                {{"PAGES.HOME.CLICK_TO_SELECT_APP" | translate}}
            </button>
            <div [style.display]="selectingApp ? 'flex' : 'none'"
                 style="display: flex; flex-direction: column; justify-content: center; align-content: center; align-items: center; width:100%; height: 100%">
                Open your application in {{remainingSec}}
            </div>

            <div [style.display]="activeWindow !== undefined? 'flex' : 'none'"
                 style="display: flex; flex-direction: column; justify-content: center; align-content: center; align-items: center; height: 100%">
                <img [src]="activeWindow?.base64Icon ?? ''" alt="app icon"
                     style="width: 32px; height: 32px; margin: 1em">

                {{ activeWindow?.owner?.path?.split('\\')?.pop() ?? "" }}
            </div>

        </div>
        <button nbButton status="primary" style="align-self: center; margin-top: 1em"
                [disabled]="activeWindow === undefined || profInput.value === ''"
                (click)="createProfile()">{{"PAGES.HOME.CREATE_PROF" | translate}}</button>
    </div>
</ng-template>
