<div
  style="background: var(--color-basic-900); border-radius: 10px; padding: 1em 0.5em 1em 1.3em;overflow-y: scroll; width: 50vh; height: 100%; display: flex; flex-direction: column; flex-wrap: nowrap; align-content: space-between; justify-content: flex-start; align-items: center;">

  <div class="setting-row">
    <nb-select placeholder="Action" [(selected)]="action.type" size="small">
      <nb-option value="SEND_KEY">Send key</nb-option>
      <nb-option value="SEND_TEXT">Send text</nb-option>
      <nb-option value="MOUSE_CLICK">Mouse click</nb-option>
      <nb-option value="COMMAND">Command</nb-option>
      <nb-option value="OPEN_FOLDER">Open folder</nb-option>
      <nb-option value="SUB_MENU">Sub menu</nb-option>
      <nb-option value="RESIZE_WINDOW">Resize window</nb-option>
      <nb-option value="MOVE_WINDOW">Move window</nb-option>
      <nb-option value="OPEN_URL">Open URL</nb-option>
      <nb-option value="SWITCH_APP">Switch App</nb-option>
    </nb-select>
    <nb-form-field>
      <nb-icon nbPrefix icon="repeat-outline" pack="eva"></nb-icon>
      <input type="number" nbInput fieldSize="small" style="width: 5.5em; padding-right: 0.5em">
    </nb-form-field>
  </div>

  <div *ngIf="action.type === ActionType.sendkey" style="width: 100%">
    <div class="setting-row" style="margin-top: 1em">
      {{ 'PAGES.EDITOR.SHORTCUTS' | translate }}
      <app-shortcut-input></app-shortcut-input>
    </div>
  </div>
  <div *ngIf="action.type === ActionType.sendtext" style="width: 100%">
    <div class="setting-row" style="margin-top: 1em">
      {{ 'PAGES.EDITOR.SHORTCUTS' | translate }}
      <textarea nbInput fullWidth placeholder="{{ 'PAGES.EDITOR.TEXT_PLACEHOLDER' | translate }}"
                style="resize: vertical; margin-left: 1em"></textarea>
    </div>
  </div>
  <div *ngIf="action.type === ActionType.mouseclick" style="width: 100%">
    <div class="setting-row" style="margin-top: 1em">
      {{ 'PAGES.EDITOR.SHORTCUTS' | translate }}
      <nb-radio-group style="width: 70%">
        <nb-radio value="Left">{{ "PAGES.EDITOR.LEFT" | translate }}</nb-radio>
        <nb-radio value="Middle">{{ "PAGES.EDITOR.MIDDLE" | translate }}</nb-radio>
        <nb-radio value="Right">{{ "PAGES.EDITOR.RIGHT" | translate }}</nb-radio>
      </nb-radio-group>

    </div>
    <div class="setting-row" style="margin-top: 1em">
      {{ 'PAGES.EDITOR.SHORTCUTS' | translate }}
      <nb-checkbox >Ctrl</nb-checkbox>
      <nb-checkbox >Alt</nb-checkbox>
      <nb-checkbox >Shift</nb-checkbox>

    </div>
  </div>
  <div *ngIf="action.type === ActionType.command" style="width: 100%">
    <div class="setting-row" style="margin-top: 1em">
      {{ 'PAGES.EDITOR.SHORTCUTS' | translate }}
      <input nbInput fullWidth placeholder="{{ 'PAGES.EDITOR.COMMAND_PLACEHOLDER' | translate }}"
                style="resize: vertical; margin-left: 1em">
    </div>
  </div>
  <div *ngIf="action.type === ActionType.openfolder" style="width: 100%">
    <div class="setting-row" style="margin-top: 1em">
      {{ 'PAGES.EDITOR.SHORTCUTS' | translate }}
      <input nbInput fullWidth placeholder="{{ 'PAGES.EDITOR.FILE_PATH_PLACEHOLDER' | translate }}"
             style="resize: vertical; margin-left: 1em">
    </div>
    <button nbButton fullWidth="true" status="primary" style="margin-top: 1em">{{ 'PAGES.EDITOR.SELECT' | translate }}</button>
  </div>
  <div *ngIf="action.type === ActionType.submenu" style="width: 100%">
    <div class="setting-row" style="margin-top: 1em">
      {{ 'PAGES.EDITOR.DROP_PIE_MENU' | translate }}
      <nb-card style="width: 100%; height: 100%"></nb-card>
    </div>
  </div>
  <div *ngIf="action.type === ActionType.resizewindow" style="width: 100%">
    <div class="setting-row" style="margin-top: 1em">
      This action has no options
    </div>
  </div>
  <div *ngIf="action.type === ActionType.movewindow" style="width: 100%">
    <div class="setting-row" style="margin-top: 1em">
      This action has no options
    </div>
  </div>
  <div *ngIf="action.type === ActionType.openurl" style="width: 100%">
    <div class="setting-row" style="margin-top: 1em">
      {{ 'PAGES.EDITOR.SHORTCUTS' | translate }}
      <input nbInput fullWidth placeholder="{{ 'PAGES.EDITOR.OPENURL_PLACEHOLDER' | translate }}"
             style="resize: vertical; margin-left: 1em">
    </div>
  </div>
  <div *ngIf="action.type === ActionType.switchapp" style="width: 100%">
    <div class="setting-row" style="margin-top: 1em">
      {{ 'PAGES.EDITOR.SHORTCUTS' | translate }}
      <app-shortcut-input></app-shortcut-input>
    </div>
  </div>

</div>

